* {
	margin: 0;
}
body {
	margin: 0;
	font-family: "Avenir Next",  Helvetica, Arial, sans-serif;
	color: #333;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}
ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #333;
}
h1,h2 {
	text-transform: uppercase;
}
h2{
	margin-bottom: 30px;
}
#logo {
	width: 85%;
	margin: 0 auto 20px;
}
#logo img {
	max-width: 270px;
}
#navfix {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 20%;
	/*background: rgb(198,203,204); */
}
#navfix header {
	height: 55%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

nav {
	text-align: center;
}
nav ul {
	display: inline-block;
}
nav li {
	font-size: 18px;
	padding: 15px 0;
	cursor: pointer;
}
.icons {
	padding-right: 10px;
	min-width: 30px;
	display: inline-block;
	text-align: center;
}
section.section-wrapper {
/*	width: 79%;
	float: right;*/
}
#main, #portfolio {
	background: rgba(210,178,154, .5);
	/*color: #886159;*/
	color: rgba(157,49,88, 1);;
}
.contents {
	padding: 15% 5% 5% 5%; 
	text-align: center;
	max-width: 980px;
	margin: 0 auto;
}
#main h1 {
	font-size: 28px;
	margin-bottom: 15px;
}
#toronto-skyline {
	margin-bottom: 40px;
	width: 100%;
	max-width: 430px;
}

#about, #contact, footer {
	background: rgb(199,141,107);
	background: rgba(157,49,88, 0.95) ;
	color: lightgray;
}


/*#portfolio*/

/*----banner transition slide up----*/
@-webkit-keyframes slide-up { 
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(-100%, 0, 0);
	            transform: translate3d(-100%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
	        transform: none;
	}
}
@-moz-keyframes slide-up { 
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(-100%, 0, 0);
	            transform: translate3d(-100%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
	        transform: none;
	}
}
@keyframes slide-up { 
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(-100%, 0, 0);
           		transform: translate3d(-100%, 0, 0);
 	}

	100% {
	    opacity: 1;
	    -webkit-transform: none;
	            transform: none;
	}
}

.transition {
	-webkit-animation: slide-up ease-in-out 1; 
    -moz-animation:slide-up ease-in-out 1;
    animation:slide-up ease-in-out 1;
    
    -webkit-animation-fill-mode:forwards;	
    -moz-animation-fill-mode: forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.8s;
    -moz-animation-duration:0.8s;
    animation-duration:0.8s;
    
/*    -webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
	*/
	
}
.hidden{
     opacity:0;
}
#portfolio .contents, #contact .contents {
	padding: 10% 0 15%;
}
#portfolio article {
	margin-top: 60px;
}
#portfolio article .col{
	display: inline-block;
	width: 40%
}
.col.right{
	vertical-align: top;
}
#portfolio h3 {
	margin: 15px 0;
	display: inline-block;
}
#portfolio img {
	width: 100%;
	max-width: 300px;
}
#contact li {
	padding: 10px 0;
}
#contact .icons {
	vertical-align: sub;
}
.linkedin {
	color: #4875B4;
}
.twitter {
	color:#33CCFF;
}
.github {
	color: #000;
}
footer {
	padding-bottom: 50px;
	text-align: center;
}


/*----Scroll back to top----*/
#top {
	position: fixed;
	bottom: 50px;
	margin-left: 83%;
	padding-top: 10px;
	height: 35px;
	width: 50px;
	cursor: pointer;
	text-align: center;
	line-height: 9px;
}
#top span {
	display: block;
	margin-top: 7px;
}
@media (max-width: 768px) {
	.contents {
		padding-top: 35%;
	}
	#navfix {
		width: 25%;
	}
}
@media (max-width: 480px) {
	#navfix {
		display: none;
	}
	section.section-wrapper {
		width: 100%;
	}
	.contents {
		padding-top: 30%;
	}
	#portfolio .contents {
		padding: 20% 5% 25%;
	}
	#portfolio article .col{
		display: block;
		width: 100%
	}
	#contact .contents {
		padding: 20% 5% 15%;
	}
}