/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Georgia", "Times New Roman", serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }



/*newhome start*/



div.container {
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
	position: relative;
}


h1 {
	color: #6b5344;
}


hr.border{
		border: none;
		height: 5px;
		background: #f1bbba;
		margin: 10px 0;
		margin-top: 15px;
		margin-bottom: 20px;
}



/* personal identification */

#title1 {
	font-size: 28px; 
	color: #6b5344;
	font-family: serif;

}

.personal {
	font-size: 14px;
}

.inpersonal {
	vertical-align: baseline;
}

.bold{
	font-weight: bold;
	font-color: #a79c8e;
}


/* skills */

#title2 {
	font-size: 28px; 
	color: #6b5344;
	font-family: serif;
}


.inskills {
	vertical-align: baseline;
}

.skill_title {
	height:80px;
    width:150px;
    float: left;
    font-size: 14px;
    font-weight: bold;
}

#tech {
    height:80px;
    width:100px;
    float:left;
    font-size: 14px;
    font-weight: bold;
}

#spec {
    font-size: 14px;
}


/* contact */

#title3 {
	font-size: 28px;
	color: #6b5344;
	font-family: serif;
}

.contact {
	padding-left: 50px;
	
}

#email {
	padding-right: 10px;
	
}
#github {
	padding-right: 10px;
}
#facebook {
	padding-right: 10px;
}


/*link tags*/

a:link.email {
	color: #6b5344; 
}
a:hover.email {
    color:#de8790;
}
a:visited.email {
	color: #6b5344;
}
a:link.github {
	color: #6b5344; 
}
a:hover.github {
    color: #de8790;
}
a:visited.github {
	color: #6b5344;
}


/*toggle tags*/

.open {
    display: none;
}

.click {
    font-family: serif;
    text-align: center;
    color: #CAC4BB;
 }

.open2 {
    display: none;
}

.click2 {
    font-family: serif;
    text-align: center;
    color: #CAC4BB;
}

.open3 {
    display: none;
}

.click3 {
    font-family: serif;
    text-align: center;
    color: #CAC4BB;
    padding-bottom: 60px;

}


