@font-face {
	font-family: "OpenSans-Regular";
	src: url("fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Comfortaa_Regular";
	src: url("fonts/Comfortaa/Comfortaa_Regular.ttf") format("truetype");
}
@font-face {
	font-family: "CaviarDreams";
	src: url("fonts/Caviar-Dreams/CaviarDreams.ttf") format("truetype");
}




body {
	font-family: "OpenSans-Regular", Helvetica, sans-serif;
}

.nav-pills > li > a {
  padding-top: 12px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
    }
    
.navbar-inverse .navbar-inner {
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar {
	margin-bottom: 0;
}

.hero-unit {
	padding: 80px 60px;
	background-color: #FBF8F5;
}

img {
	float: left;
}

p {
	padding-left: 20px;
	display: table;
	
}

.span7 > p {
	font-size: 16px;
	text-align: justify;

}


#prof_pic {
	padding: 30px 50px 30px 65px;
}


#main_banner{
	min-height: 570px;
}


/*about*/

.navbar .brand {
	font-size: x-large;
	font-weight: 500; 
	color: #C395A2;
}

.about > li {
	list-style-type: none;
	font-size: 20px;
	margin-bottom: 5px;
}

.title {
	font-size: 20px;
}

.logo_img {
	padding-right: 20px;
}

em {
	color: grey;
	font-size: 16px;
}

li {
	font-weight: bold;
}


/*span3*/

.span3 {
	font-size: 16px; 
	padding-left: 25px;
}

.span3 > li {
	list-style-type: none;
}

.span3 > p {
	padding-left: 10px;
}

/*span8*/

.span8 {
	padding-left: 25px;
}

.span8 > p {
	padding-left: 10px;
	font-size: 16px;
}


/*contact*/

.contact > p > a > img {
	padding-bottom: 25px; 
}

.twitter-timeline {
	padding-left: 20px; 
}


/*footer*/

.footer {
	text-align: center;
	padding-bottom: 30px;
}



/*work*/

.thumbnail {
	border: none;
	box-shadow: none;
}

.description p {
	padding: 85px;
	text-align: justify;
}

.adjustment {
	min-height: 350px;
}

.row-fluid .span5 {
	margin-left: 0;

}

.colourlover {
	width: 220px; 
	height: 110px; 

}

.colourbanner {
	display: block;
}

#logoset {
	width: 330px;
	height: 225px;
	overflow: hidden;
	padding-left: 25px;
	
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.hero-unit {
		padding: 40px 50px;
	}
/*mywork*/
	.description p {
	padding: 60px;
	
	}
	.adjustment {
		min-height: 0;
	}
	#workpage p:first-child {
		padding-top: 80px;
		margin-bottom: 30px;
	}	
	
	.colourlover {
	width: 200px; 
	height: 100px; 

	}
	
	.row-fluid .span7 {
		width: 56.18232%;
	}
	#prof_pic {
		margin: 55px 0;
		padding: 0 35px;
	}
	
	#logoset {
		width: 250px;
		height: 188px;
		padding-left: 30px;
	}
	
}
	

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.navbar-fixed-top {
		margin-right: 0;
		margin-left: 0;	
	}
	.hero-unit {
		padding: 30px;
		font-size: 16px;
	}
	em {
		font-size: 14px;
	}
	.contact > p > a > img {
		width: 120px;
		height: 120px;
	}

	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#prof_pic {
		padding-left: 35px;
	}
	.row-fluid .span7 {
		display: table;
	}

/*mywork*/	
	.description p {
	padding: 30px;
	
	}
	.adjustment {
		min-height: 0;
	}
	#workpage p:first-child {
		padding-top: 30px;
	}
	
	.colourlover {
	width: 180px; 
	height: 90px; 

	}
	
		


}




/* cellphone view */
@media (max-width: 480px) {
	.logo_img {
		padding: 8px 0;
	}	
	em {
		font-size: 14px;
	}
	
	p {
		display: inline-table;
	}
	
	.twitter-timeline {
		padding-left: 0; 
	}
	
	.description p {
	padding: 10px;
	
	}
	.adjustment {
		min-height: 0;
	}
	#pic_frame {
		width: 200px;
		margin: 0 auto;
	}
	#prof_pic {
		padding: 0;
	}
	#logoset {
		padding-left: 0;
	}
}
