
.nav-pills > li > a {
  padding-top: 12px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
    }
    
.navbar-inverse .navbar-inner {
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar {
	margin-bottom: 0;
}

.hero-unit {
	padding: 80px 60px;
	background-color: #FDFDF4;
}

img {
	float: left;
}

p {
	padding-left: 20px;
	display: table;
	
}

.span7 > p {
	font-size: 16px;
	text-align: justify;

}


#prof_pic {
	padding: 0 50px 30px 65px;
}


#main_banner{
	/*display: inline-block;*/
}


/*about*/

.navbar .brand {
	font-size: x-large;
	font-weight: 500; 
	color: #C395A2;
}

.about > li {
	list-style-type: none;
	font-size: 20px;
	margin-bottom: 5px;
}

.title {
	font-size: 20px;
}

.logo_img {
	padding-right: 20px;
}

em {
	color: grey;
	font-size: 16px;
}

li {
	font-weight: bold;
}


/*span3*/

.span3 {
	font-size: 16px; 
	padding-left: 25px;
}

.span3 > li {
	list-style-type: none;
}

.span3 > p {
	padding-left: 10px;
}

/*span8*/

.span8 {
	padding-left: 25px;
}

.span8 > p {
	padding-left: 10px;
	font-size: 16px;
}


/*contact*/

.contact > p > a > img {
	padding-bottom: 25px; 
}

.twitter-timeline {
	padding-left: 20px; 
}


/*footer*/

.footer {
	text-align: center;
	padding-bottom: 30px;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.hero-unit {
		padding: 40px 50px;
	}
}
	

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.navbar-fixed-top {
		margin-right: 0;
		margin-left: 0;	
	}
	.hero-unit {
		padding: 30px;
		font-size: 16px;
	}
	em {
		font-size: 14px;
	}
	.contact > p > a > img {
		width: 120px;
		height: 120px;
	}

	body {
		padding-left: 0px;
		padding-right: 0px;
	}
} 


/* cellphone view */
@media (max-width: 480px) {
	.logo_img {
		padding: 8px 0;
	}	
	em {
		font-size: 14px;
	}
	
	p {
		display: inline-table;
	}
	
	.twitter-timeline {
		padding-left: 0; 
	}
	
}
