a:link.menu{
    color: #a79c8e;
}

a:hover.menu {
    color: #de8790;
}

div.container {
	padding-top: 70px;
}

nav{
	position: fixed;
	width: 160px;
}
nav ul{
	float: left;
}
nav ul li{
	display: block;
	margin-bottom: 10px;
}

nav ul li a{
	text-decoration: none;
	color: #a79c8e;
	font-style: italic; 
	font-weight: bold;
}


#logo {
	color:#a79c8e;
}

.container .twelve.colums {
	width: 700px;

}

.container .offset-by-one {
	padding-left: 200px;
	margin-top: -30px;
}


h1 {
	color: #6b5344;
}

hr.border{
		border: none;
		height: 5px;
		background: #f1bbba;
		margin: 10px 0;
		margin-bottom: 25px;
}


/*about*/


#title1 {
	font-size: 28px; 
	font-family: serif
}
.personal {
	font-family: serif;
	font-size: 16px;
}

.bold{
	font-weight: bold;
	font-color: #a79c8e;
}

#title2 {
	padding-top: 25px;
    font-size: 28px;
    font-family: serif;
}

.skills{
    font-family: serif;
    font-size: 16px;
}

.click {
    font-family: serif;
    text-align: center;
    color: #CAC4BB;
}

.open {
    display: none;
}

.open2 {
    display: none;
}

.click2 {
    font-family: serif;
    text-align: center;
    color: #CAC4BB;
    padding-bottom: 60px;

}


#tech {
    padding-left: 130px;
    height:80px;
    width:100px;
    float:left;
    font-family: serif;
    font-size: 16px;
}

#spec {
    font-family: serif;
    font-size: 16px;
}


/*contact*/

.contact {
    font-family: serif;
}

a:hover.email {
    color:#de8790;
}

a:hover.github {
    color: #de8790;
}