* {
  margin: 0;
  padding: 0; 
}
html,
body {
  color: #333333;
  font: 14px Arial, sans-serif;
  font-weight: 100;
  height: 100%; 
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; 
}
p {
  margin: .8em 0;
  line-height: 1.5em; 
}
hr {
  border: 0;
  height: 1px; 
}
a {
  text-decoration: none;
  color: #0066c0;
  font-size: 13px;
}
a:hover {
	text-decoration: underline;
	color: #c45500;
}
ul {
  list-style-type: none; 
}
ol {
  margin-left: 22px; 
}
.print-small {
	font-size: 13px;
}
.flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}
.section-divider:after {
    display: block;
    width: 100%;
    height: 44px;
    background-color: transparent;
    background: -moz-linear-gradient(left,white,rgba(255,255,255,0),white);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,white),color-stop(50%,rgba(255,255,255,0)),color-stop(100%,white));
    background: -webkit-linear-gradient(left,white,rgba(255,255,255,0),white);
    background: -o-linear-gradient(left,white,rgba(255,255,255,0),white);
    background: -ms-linear-gradient(left,white,rgba(255,255,255,0),white);
    background: linear-gradient(left,white,rgba(255,255,255,0),white);
    filter: none;
    z-index: 1;
    content: "";
}
.section-divider {
	margin: 40px 0 -18px 0;
	display: block;
	width: 100%;
	height: 44px;
	background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    z-index: 0;
    zoom: 1;
}

.main-header {
	background-color: #232f3e;
}
.main-header__wrapper {
	padding-top: 21px;
    margin: 0 auto;
}
.haniepark-amazon-logo {
	background: url('img/haniepark-amazon-logo.png') no-repeat;
	background-size: 100%;
    width: 170px;
    height: 38px;
    display: inline-block;
    vertical-align: middle;
}
.search-container {
	max-width: 450px;
	width: 100%;
	border: 1px solid black;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}
.search-block {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
.search-category {
	width: 33%;
	color: #555;
	font-size: 12px;
	background-color: #f3f3f3;
    background-image: none;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    -webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	padding-top: 13px;
}
.search-input {
	width: 57%;
	font-size: 14px;
}
.search-btn {
	background-color: #febd69;
	width: 45px;
	text-indent: -1000px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
}
.search-btn-img {
	background: url('img/amazon-logo-sprite.png') no-repeat -10px -290px;
	width: 21px;
	height: 22px;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.search-btn:hover {
	background-color: #f3a847;
}
.content-container {
	padding: 20px;
	max-width: 1000px;
    margin: 0 auto;
}
.breadcrumb {
	padding-bottom: 15px;
}
.breadcrumb__link {
	color: #555;
	font-size: 12px;
}
.breadcrumb__link:hover {
	color: #c45500;
}
.product-summary--text {
	line-height: 19px;
}
.product-summary__header {
	border-bottom: 1px solid #e7e7e7;
}
.product-name {
	font-size: 19px;
	margin: 3px 0 10px;
}
.amazon-icon {
	background: url('img/amazon-icon-sprite.png') no-repeat;
	display: inline-block;
}
.amazon-icon-star {
    width: 80px;
    height: 18px;
    background-position: -5px -368px;
}
.amazon-icon-popover {
    margin: 2px 0 0 2px;
    vertical-align: text-top;
    width: 7px;
    height: 5px;
    background-position: -90px -5px;
    opacity: .6;
}
.amazon-icon-popover--search {
	margin: 5px 0 0 5px;
}
.product-image {
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	margin-top: -140px;
}
.product-summary--image {
	max-height: 340px;
	overflow: hidden;
}
.section-title {
    font-size: 19px;
    font-weight: 600;
}
.section-ul {
	list-style-type: disc;
	margin-left: 22px; 
}
.section-list {
	margin: 15px 0;
}
.section-list-title {
    font-weight: 600;
}
.section-list-detail {
	margin: 8px;
	line-height: 1.5em;
}
.section-career-date {
	display: block;
	margin-top: 10px;
	font-style: italic;
}
.footer  {
	margin-bottom: 25px;
	text-align: center;
	padding: 10px;
}
.back-to-top-btn {
	display: block;
	background-color: #f3f3f3;
	color: #111;
	padding: 15px 0;
	margin-bottom: 25px;
}
.back-to-top-btn:hover {
	text-decoration: none;
	color: #111;
}
@media (min-width: 1025px) {
	.main-header__wrapper {
		max-width: 1000px;
	}
}
@media (min-width: 769px) {
	.flex-container--responsive {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.main-header {
		min-height: 100px;
	}
	.main-header__wrapper {
		max-width: 700px;
	}
	.haniepark-amazon-logo {
		margin-right: 10%;
	}
	.main-header__block {
		display: inline-block;
	}
	.product-summary {
		padding: 0 15px;
	}
	.product-summary--image {
		width: 40%;
	}
	.product-summary{
		width: 60%;
		
	}
}
@media (max-width: 768px) {
	.product-summary--text {
		padding-top: 15px;
	}
	.main-header__wrapper {
		    width: 95%;
		    padding: 10px;
	}
	.haniepark-amazon-logo {
		margin: 0 0 10px 0;
	}
}